@h_64: 64px;
@c_fff: #fff;
.ant-layout-sider,
.ant-menu-dark,
.ant-menu-inline.ant-menu-sub {
    background-color: var(--sider-bg) !important;
    box-shadow: none !important;
}

.ant-menu-dark,
.ant-menu-dark.ant-menu-inline {
    .ant-menu-sub,
    .ant-menu-item,
    .ant-menu-submenu-title {
        color: var(--main-f-color);
    }
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: var(--sider-bar-item) !important;
    a,
    .anticon + span,
    .anticon {
        color: var(--sider-tit);
        font-weight: 700;                
    }
}
.ant-menu-dark {
    .ant-menu-item {
        &> a {
            color: var(--main-f-color) !important;
        }
    }
    .ant-menu-submenu-title {
        &:hover {
            color: var(--sider-tit) !important;
            font-weight: 700; 
        }
    }
    .ant-menu-item-group-title {
        color: var(--main-f-color);        
    }
}


.left-nav {
    width: 100%;
    min-width: 50px;
    .left-nav-header {
        height: 64px;
        min-width: 50px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        line-height: 64px;
        // color: ;
        .ant-avatar {
            margin: 10px; 
            min-width: 40px;
        }
        h1 {
            color: var(--sider-tit);
            font-weight: 600;
            font-size: 16px;
            display: inline-block;
        }
    }
}
.ant-layout-sider-collapsed {
  .left-nav {
    .left-nav-header {
      h1 {
        display: none;
      }
      .ant-avatar {
        margin: 10px auto;
      }
    }
  }
}
